.container {
  height: 49%;
  left: 10%;
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
}
.info {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.info p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.Input {
  height: 18%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
}
.Input input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
  padding-left: 20px;
  border-radius: 30px;
}
.Input input {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #291507;
}
.Input img {
  position: absolute;
  height: 45%;
  right: 20px;
  object-fit: contain;
}
.breedListWraper {
  height: 180px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  z-index: 50;
  background-color: white;
  border-radius: 24px;
  opacity: 0;
  transform: translateY(-23px);
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: ease;
  transition-duration: 1s;
}
.breedListWraper.show {
  opacity: 1;
  transform: none;
}
.breedList {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 10px;
  overflow: auto;
  white-space: nowrap;
  grid-template-columns: 100%;
  grid-auto-rows: 20%;
}
.breedList > p {
  font-family: Montserrat;
  width: 100%;
  white-space: pre-wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgb(29, 27, 27);
}
.breedListItem {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border-radius: 12px;
  cursor: pointer;
}
.breedListItem:hover {
  background: #e3e1dc;
}
.breedListItem p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.breedList::-webkit-scrollbar {
  width: 8px;
}
.breedList::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 30px;
}
.breedList::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 30px;
}
@media screen and (max-width: 425px) {
  .container {
    height: 60%;
    left: 10%;
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
  }
  .info p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #ffffff;
  }
  .container > p {
    font-family: Mystery Quest;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #ffffff;
  }
  .info {
    height: 40%;
  }
  .Input {
    height: 22%;
  }
  .Input input {
    font-size: 14px;
    padding-left: 10px;
  }
  .Input img {
    right: 10px;
  }
  .breedListWraper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    top: 0px;
    border-radius: 0px;
    right: 0px;
    padding-left: 20px;
    transform: translateY(0px);
    transform: translateX(100vw);
  }
  .breedList {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 10px;
    overflow: auto;
    white-space: nowrap;
    grid-template-columns: 100%;
    grid-auto-rows: 10%;
  }
  .icon {
    height: 40px;
    width: 40px;
    background: rgba(151, 151, 151, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .line {
    height: 2px;
    width: 60%;
    position: absolute;
    border-radius: 3px;
    transform: rotate(45deg);
    background: #000000;
  }
  .line2 {
    height: 2px;
    width: 60%;
    position: absolute;
    border-radius: 3px;
    transform: rotate(-45deg);
    background: #000000;
  }
  .inputModal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
  }
  .inputModal input {
    height: 100%;
    width: 950%;
    border: 1px solid #000000;
  }
  .inputModal input {
    font-size: 18px;
    padding-left: 20px;
  }
  .inputModal img {
    height: 60%;
    right: 20px;
    object-fit: contain;
  }
}
