.container {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}
.container h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #291507;
}
